.previewWrapper {
    font-family: Poppins, sans-serif;
    color: #FFFFFF;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
    transition: all 0.3s ease;
}

.previewWrapper:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    color: #FC2F70;
}

.posterAndDescription .poster {
    width: 200px;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(60, 239, 255, 0.2);
}

.posterAndDescription .poster img {
    width: 100%;
}

.posterAndDescription .description {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.posterAndDescription .description .yearLogo {
    color: #3CEFFF;
    margin-right: 10px;
    font-size: 16px;
}

.posterAndDescription .description .year, .type, .imdbID {
    margin: 5px 0;
}