.filmPageWrapper {
    color: white;
    padding-bottom: 40px;
}

.container {
    width: 80%;
    min-height: calc(100vh - 171px);
    margin: 0 auto;
    margin-top: -100px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.previewLogo {
    width: 100%;
    height: 350px;
    position: relative;
    background-position: center top;
    background-size: 100% auto
}

.previewLogo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.previewLogo img {
    width: 100%;
}

.poster {
    margin-bottom: 30px;
    width: 300px;
}

.poster img {
    box-shadow: 0 0 15px rgba(60, 239, 255, 0.5);
    width: 100%;
}
.filmDescription {
    margin-top: 100px;
}
.filmDescription > div {
    margin-top: 10px;
    margin-left: 50px;
}

.title {
    margin-bottom: 20px;
}

.descriptionLogo {
    color: #3CEFFF;
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.filmDescription > div > h1 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: .15em;;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    margin: 0;
}
.posterAndBack {
    text-align: center;
}

.toMAinPageButton {
    color: #fc2f70;
    font-size: 40px;
    cursor: pointer;
}

.toMAinPageButtonLogo {
    transition: all .3s ease;
}

.toMAinPageButtonLogo:hover {
    transform: scale(1.2);
    transition: all .3s ease;
}