.liveSearchFilmWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 1px 5px;
    box-shadow: 0px 7px 10px -9px #fc2f70;
    height: 47px;
    transition: all .3s ease;
}

.liveSearchFilmWrapper:hover {
    background-color: rgba(252, 47, 112, 0.2);
    transition: all .3s ease;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.poster {
    width: 30px;
    margin-right: 10px;
}

.poster img {
    width: 100%;
}

.posterLogo {
    color: #3CEFFF;
    margin-left: 5px;
}

h5 {
    margin: 0;
}